body {
    background-color: #05040c;
    background-color: #160013;
    background-color: rgb(5, 13, 41);
    background-size: cover;
    font-family: Tahoma, sans-serif;
}

.border{
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(139, 139, 139);
}