.groupswrapper {
    user-select: none;
    width: 99vw;
    height: 87vh;
    position:relative;
    font-family: Optima, Segoe, "Segoe UI";
    color: white;
  }

.filterwrapper {
    height: 85vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.filtergroupslabel {
    font-size: 3vh;
}

.filterarea {
    width: 75%;
    height: 75vh;
    padding: 2vh;
    display: flex;
    flex-direction:column;
    gap: 1vh;
}

.grouparea{
    border: white 3px solid;
    width: 10vw;
    position: absolute;
    left: 30vw;
    top: 5vh;
    width: 64vw;
    height: 75vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    overflow: auto;
}