body.activemodal {
    overflow-y: hidden;
}

.rolebtn {
    display:flex;
    width: 100%;
    justify-content: center;
}

.modalbtn {
    align-self:center;
    justify-self: center;
    background-color: rgb(223, 223, 223);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vh;
    border: solid 1vh #673FD7;
    border-radius:5%;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 900;
    color:black;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modalcontent {
    color: white;
    position: absolute;
    line-height: 1.4;
    background: #1f1f1f;
    width: 50vw;
    height: 80vh;
    margin-left: 25vw;
    margin-top: 10vh;
    z-index: 950;
    border-radius: 5%;
    border-width: 10px;
    border-style:inset;
    border-color:#673FD7;
}

.closebutton {
    color: white;
    position: absolute;
    top: 15px;
    right: 20px;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    font-size:3vh;
    font-family:"Comic Sans MS";
    text-shadow: 5px, 5px, black;
    text-shadow: -5px, -5px, black;
    background-image: radial-gradient(#ff0000 10%, #000000 100%);
    border-width: 1px;
    border-color: black;
    border-style: solid;
    touch-action: manipulation;
    cursor: pointer;
}

.closebutton:hover {
    box-shadow: rgba(54, 0, 0, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.h1 {
    text-align: center;
}

.rolecontainer{
    width: 100%;
    color: rgb(0, 0, 0);
}

.rolegroup{
    display: flex;
    flex-direction: column;
    margin:20px;
}

.roletitle{
    display: flex;
    justify-content: center;
    margin:20px;
}

.tank{
    background-color:rgba(0, 0, 255, 0.5);
}

.healer{
    background-color:rgba(0, 128, 0, 0.5);
}

.melee, .ranged, .caster{
    background-color:rgba(255, 0, 0, 0.5);
}

.dpscontainer {
    background-image: radial-gradient(ellipse at center, #7a0000, #370500);
    width: 15vw;
    height: 50vh;
    position: absolute;
    left: 5vw;
    top: 10vh;
    border-radius: 10%;
    padding: 2vh;
}

.tankcontainer {
    background-image: radial-gradient(ellipse at center, #00066f, #060042);
    width: 15vw;
    height: 20vh;
    position: absolute;
    left: 27.5vw;
    top: 10vh;
    border-radius: 10%;
    padding: 2vh;
}

.healercontainer {
    background-image: radial-gradient(ellipse at center, #005003, #002a0a);
    width: 15vw;
    height: 20vh;
    position: relative;
    left: 27.5vw;
    top: 30vh;
    border-radius: 10%;
    padding: 2vh;
}

.confirmbutton {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 15vw;
    height: 9vh;
    position: relative;
    left: 17.5vw;
    top: 34.5vh;
    padding: 2vh;
  }
  
.confirmbutton:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }