ul {
    text-align: center;
    z-index: 900;
}

ul li {
    transition: all 0.3s ease-in-out;
}

ul li:hover .submenu {
    height: 50vh;
}

ul li:hover a {
    color: #232a8a;
}

ul li:hover a::before {
    visibility: visible;
    transform: scale(1, 1);
}

li {
    width: 100%;
    height: 10vh;
    display: inline-block;
    margin-right: 100px;
}

ul {
    text-align: center;
}

.submenu {
    margin-top: 3.7%;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    left: 0px;
    width: 15%;
    background-color: #886bd8;
    height: 0;
    line-height: 40px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
    transition-delay: 0.1s;
}

ul li .submenu a {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
}

ul li .submenu a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

ul li a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 0 7px 0 7px;
    margin: 0 0 10px -45px;
    text-decoration: none;
    position: relative;
}

ul li a::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 3px;
    bottom: -45px;
    left: -50px;
    background-color: #3cff4c;
    transition: all 0.2s ease-in-out;
    transform: scale(0, 0);
    visibility: hidden;
    z-index: 1000;
}

.actions {
    top: 39%;
    margin-left: 15px;
}