.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position:relative;
    border-left: 0px;
    height:10vh;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(11, 11, 11);
    color:white;
    margin-bottom: 10px;
    align-items: center;
}

.title:hover, .logo:hover {
    cursor: pointer;
}

.menu-btn {
    width:100px;
}

.middle-item {
    display: flex;
    position: absolute;
    margin-left: 32vw;
    align-items: center;
    gap: 50px;
    max-width: 50vw;
    min-width: 50vw;
}

.title-pic {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userstuff {
    display: flex;
    gap: 15px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}