.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position:relative;
    border-left: 0px;
    height:10vh;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(11, 11, 11);
    color:white;
    margin-bottom: 10px;
    align-items: center;
}

.title:hover, .logo:hover {
    cursor: pointer;
}

.menu-btn {
    width:100px;
}

.middle-item {
    display: flex;
    align-items: center;
    gap: 50px;
}

.title-pic {
    display: flex;
    align-items: center;
    gap: 20px;
}